<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <hr>

    <!-- adding for each loop to load all users secrets -->
  <% userWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
  <% }); %>

  </div>
</div>

<%- include('partials/footer') %>
